body {
  display:flex;
  font-family: "Lato", "Helvetica", Helvetica, sans-serif;
  background: #252525;
  letter-spacing: 1px;
  justify-content: left;
  margin: 0;
}

.listContainer {
  width: 500px;
  height: 100vh;
  overflow-y: auto;
}

.listContainer .listItem {
  display: flex;
  height: 60px;
  border-bottom: 1px #555 solid;
  cursor: pointer;
  transition: 100ms;
}

.listContainer .listItem:hover {
  background-color: #282828;
}

.listContainer .listItem .listItemTitle {
  display:flex;
  height:100%;
  padding-left: 20px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
  font-weight: bold;
  color: #eee
}

.listContainer .listItem .listItemSubtitle {
  display:flex;
  height:100%;
  padding-left: 20px;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  font-family: Arial;
  color: #ccc
}

.mainform {
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.textInputBox {
  background: #ffffff;
  color: black;
  border: 1px solid lightgrey;
  border-radius: 4px;
  height: 30px;
  width: 300px;
  margin-top: 5px;
}

.checkboxLabel {
  color: #fff
}

.marginTop {
  margin-top: 20px;
}